[submodule "models"]
	path = models
	url = git@github.com:rexkoh425/ModelCenter.git
[submodule "CVAT"]
	path = CVAT
	url = https://github.com/opencv/cvat.git
[submodule "tools/llama.cpp"]
	path = tools/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
